@import '../variables'; // Importa las variables

.productos {
    background-color: $color-menu;
    color: $color-texto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .producto {
        background-color: $color-fondo;
        border: 1px solid $color-primary;
        padding: 1rem;
        border-radius: 8px;
        text-align: center;

        h3 {
            color: $color-font;
        }

        .precio {
            color: $color-principal;
            font-weight: bold;
        }

        .btn {
            background-color: $color-principal;
            color: $color-fondo;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: darken($color-principal, 10%);
            }
        }
    }
}